body {
    text-align: center;
}

img {
    /* 불러온 이미지를 배경화면으로 적용하기 */
    position:absolute;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity:80%;
}

h1 {
    color: yellow;
    transition: color 0.5s ease-in-out; /* 색상변황 딜레이 주기 */    
}

.change {
    color: green;
}

.h1font {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hidden {
    /* 이 css 클래스는 화면상에 보이지 않도록 숨기는 역할을 한다 */
    display: none; 
}

h2{
    color:yellow;
    font-size: 100px;
    margin: auto;
}

p.titlemain {
    color:yellow;
}