body {
    background-color: beige;
    text-align: center;
}

titlemain {
    color: black;
    font-size: 100px;
}

h1 {
    color: rebeccapurple;
    transition: color 0.5s ease-in-out; /* 색상변황 딜레이 주기 */    
}

.change {
    color: green;
}

.h1font {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hidden {
    /* 이 css 클래스는 화면상에 보이지 않도록 숨기는 역할을 한다 */
    display: none; 
}

h2{
    color:rebeccapurple;
    font-size: 100px;
    margin: auto;
}